<link rel="stylesheet" href="/admin-pages/components/admin-navbar.css">
<nav class="admin-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h1>HateHire</h1>
        </a>
        <ul class="navbar-links">
            <li class="nav-item">
                <a class="nav-link" href="/admin-pages/adminDashboard.php">
                    Staff Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin-pages/adminCourseDashboard.php">
                    Course Management
                </a>
            </li>
            <li class="nav-item">
                <button class="nav-link btn" onclick="location.href='/logout.php'">
                    Logout
                </button>
            </li>
        </ul>
    </div>
</nav>