body {
    background-color: #D99293; 
    font-family: "Source Code Pro", monospace;
    color: #710000; /*Consistent text color */
}

th {
    background-color: #FFEEEE; 
    padding: 12px; 
    text-align: left;
    color: #710000; 
    font-weight: bold; /* Emphasize table headers */
    border-bottom: 2px solid #D99293; /* Add a border for separation */
}

h2, p {
    text-align: center; 
}
h1{
    text-align: center; 
    font-weight: bold;
}

td {
    padding: 12px; 
    border-bottom: 1px solid #D99293; 
    color: #710000; 
}

.btn-group {
    display: flex;
    margin-top: 1rem; 
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.form-label{
    font-size: 16px;
    font-weight: bold;
}

.btnDeleteCourse, .btnEditCourse, .btnViewUsers, .btnRemoveEnrollment {
    color: white;
    background-color: #710000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #D99293;
    transition: background-color 0.3s ease;
    font-size: 14px; 
    cursor: pointer; 
}

.btnDeleteCourse:hover, .btnEditCourse:hover, .btnViewUsers:hover, .btnRemoveEnrollment:hover {
    background-color: #8B0000; 
}

.submit-button {
    background-color: #710000; 
    color: white;
    border: 1px solid #D99293; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-button:hover {
    background-color: #EC8787; 
    transform: scale(1.05); /* Expand effect on hover */
    color: white;
}

.duration-container {
    display: flex;
    align-items: center;
}

.duration-container .form-control {
    width: 60px; 
    margin-right: 5px;
}

.duration-container .duration-text {
    font-size: 14px;
    color: #710000;
}

.custom-date-picker {
    appearance: none; /* Remove default browser styling */
    -webkit-appearance: none; /* For Safari */
    background-color: #FFEEEE;
    border: 1px solid #710000;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #8B0000;
    width: 100%;
    max-width: 300px; 
}

/* Focus effect for the input */
.custom-date-picker:focus {
    border-color: #EC8787;
    outline: none;
    box-shadow: 0 0 5px #D99293;
}

/* Modal is hidden by default */
.modal{
    display: none;
}

@media (max-width: 768px) {
    .container .table {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    th, td {
        padding: 8px; /* Reduce padding for smaller screens */
    }

    .btn-group {
        flex-direction: column; /* Stack buttons vertically */
        gap: 5px; /* Reduce gap for smaller screens */
    }
}