body {
    background-color: #D99293;; /* Bootstrap warning color */
    font-family: space mono, serif;
}

.container {
    background-color: #FFEEEE; /* Light Red */
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap shadow-sm */
}

h1, h2 {
    color: #EC8787; /* Dark Red */
    text-align: center;
}
p{
    color: #710000; /* Light Red */
    text-align: center;
}

.table {
    margin-top: 1rem;
}

.table th, .table td {
    vertical-align: middle;
    color: #710000 /* Light Red */
}
.form-label {
    color: #710000; /* Light Red */
}

.btn-group .btn {
    margin-right: 0.5rem;
}

.btn-primary {
    background-color: #710000; /* Light Red */
    border-color: #D99293;
}

.btn-primary:hover {
    background-color: #EC8787; /* Dark Red */
    border-color: #EC8787;
}
.submit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #710000; /* Light Red */
    border-color: #D99293;
    border-radius: 0.3rem;
    color: #FFFFFF;
}
.submit-button:hover {
    background-color: #EC8787; /* Dark Red */
    border-color: #EC8787;
}

.modal-content {
    background-color: #FFEEEE; /* Light Red */
    border: 1px solid #D99293;
    border-radius: 0.3rem;
}

.modal-header {
    border-bottom: 1px solid #D99293;
}