
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added box-sizing property to include padding and border are in the element's total width and height */
    font-family: "Source Code Pro", monospace;  
}

.login-title {
    text-align: center;
    font-weight: 700;
    color: #710000;
}
/* Boost header padding */
header{
    background-color: #710000;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F0CACA;
    gap: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.login-form label {
    font-weight: bold;
    color: #710000;
    align-items: auto;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Added border-radius property for rounded corners */
    max-width: 300px;
}

.login-form button {
    background-color: #710000;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #D99293;
}
/* Responsive Styles for smaller screens */
@media (max-width: 768px) {
    header {
        font-size: 28px;
        padding: 8px;
    }

    .login-form-container {
        gap: 20px;
        padding: 10px;
    }

    .login-form {
        padding: 15px;
        gap: 10px;
    }

    .login-form input {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 24px;
        padding: 5px;
    }

    .login-form-container {
        gap: 15px;
    }

    .login-form {
        padding: 10px;
        gap: 8px;
    }

    .login-form input {
        padding: 6px;
    }
}
